---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Social from '../components/Social.astro';
import YouTube from '../components/Youtube.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Hi there! I\'m James.';
let description = 'I\'m a software engineer based out of Cambridge, MA currently working on Firebase. Welcome to my site.';

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()).slice(0, 1);

let talks = await Astro.glob('./talks/**/*.md');
talks = talks.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()).slice(0, 3);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<BaseHead {title} {description} />

		<link rel="preconnect" href="https://i.ytimg.com" />
		<link href="https://hachyderm.io/@jamesdaniels" rel="me">

		<style>
			header {
				width: 100%;
				height: 100%;
				background-color: var(--theme-bg-offset);
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.content {
				padding-bottom: 8rem;
			}

			.content :global(main > * + *) {
				margin-top: 1rem;
			}

			.intro {
				padding-bottom: 4rem;
				margin-bottom: 2rem;
				border-bottom: 4px solid var(--theme-divider);
			}

			.intro > lite-youtube {
				width: 100%;
				height: 56.13%;
				margin-top: 2rem;
				min-width: 320px;
				min-height: 180px;
			}

			@media only screen and (min-width: 720px) {
				.intro {
					display: flex;
					flex-direction: row;
				}
				.intro > .left {
					padding-right: 2rem;
				}
				.intro > lite-youtube {
					width: 60%;
					height: 33.68%;
					margin-top: 0;
				}
			}

			.intro > * {
				margin: 0;
			}

			.latest {
				font-size: 2.5rem;
				font-weight: 700;
			}

			.talks div {
				display: inline-block;
				width: 320px;
				margin: 0 2rem 2rem 0;
			}

			.talks h2 {
				font-size: 1.25rem;
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.talks h2 a {
				color: var(--theme-text);
			}

			.talks p {
				font-size: 0.75rem;
				color: var(--theme-text-lighter);
				margin-top: 1rem;
			}

			.talks lite-youtube {
				width: 320px;
				height: 180px;
			}
		</style>
	</head>

	<body>
		<BlogHeader />
		<div class="wrapper">
			<main class="content">
				<section class="intro">
					<div class="left">
						<h1 class="latest">{title}</h1>
						<p>I&apos;m a software engineer based out of Cambridge, <abbr title="Massachusetts">MA</abbr> currently working on Firebase. Welcome to my site.</p>
						<Social />
					</div>
					<YouTube id="yZ7bblb-6-I" />
				</section>
				<section aria-label="Blog post list">
					<h1>Latest ramblings</h1>
					{allPosts.map((p) => <BlogPostPreview post={p} />)}
				</section>
				<section class="talks">
					<h1>Recent talks</h1>
					{talks.map(({url, frontmatter: { title, youtube, date, event }}) => <div>
						<h2><a href={url}>{ title }</a></h2>
						<YouTube id={youtube} />
						<p>{ event }&mdash;{ date }</p>
					</div>)}
				</section>
			</main>
		</div>
	</body>
</html>
