---
import '../styles/blog.css';
import 'lite-youtube-embed/src/lite-yt-embed.css';

export interface Props {
	title: string;
	description: string;
	permalink?: string;
	socialPreview?: string;
}
const { title, description, permalink, socialPreview } = Astro.props;

const firebaseConfig = JSON.parse(import.meta.env.PUBLIC_FIREBASE_CONFIG);
const isDev = import.meta.env.DEV;

---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
{ permalink ? <meta property="og:url" content={permalink} /> : ''}
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ socialPreview ?? "/assets/social.png" } />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
{ permalink ? <meta property="twitter:url" content={permalink} /> : ''}
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ socialPreview ?? "/assets/social.png" } />

<script define:vars={{ props: { firebaseConfig, isDev } }}>
	window.__props = props;
</script>

<script>
	import { initializeApp } from 'firebase/app';
	import { initializeAnalytics, isSupported } from 'firebase/analytics';
	import { initializePerformance } from 'firebase/performance';

	const { firebaseConfig, isDev } = window.__props;

	const app = initializeApp(firebaseConfig);

	if (!isDev && await isSupported()) {
		initializeAnalytics(app);
		await import('first-input-delay');
		initializePerformance(app);
	}

	import('lite-youtube-embed');
	import('lite-vimeo-embed');
</script>